.i-phone-14-pro-color-deep-purple,
.i-phone-14-pro-color-deep-purple * {
  box-sizing: border-box;
}
.i-phone-14-pro-color-deep-purple {
  width: 297.01px;
  height: 614px;
  position: relative;
  overflow: visible;
}
